:root {
  --bg-image: url('/default/background.webp');
  --card-back: url('/default/back.webp');
  /* любые другие стили темы */
}

body {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  background-image: var(--card-back);
}