@font-face {
  font-family: "Delius";
  src: url("/fonts/Delius-Regular.woff2.woff2");
  font-style: normal;
  font-display: swap;
}

#root,
button { font-family: Delius, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; }


@import "tailwindcss";

@layer base {
  button {
    @apply border border-gray-400 p-2 rounded hover:cursor-pointer transition-all duration-500
      disabled:cursor-default disabled:text-gray-400;
  }

  input {
    @apply border;
  }
}

@layer components {
 

  .card {
    @apply relative transition-all duration-500 hover:scale-105 border-0;
    z-index: 0;
  }

  .card::after {
    content: "";
    @apply absolute inset-0 bg-[#07b3b0] opacity-0 transition;
    filter: blur(4px);
    z-index: -1;
  }

  .card:hover::after {
    @apply opacity-100;
  }

  .card2 {
    @apply relative transition-all duration-500 hover:scale-[1.03] border-0;
    z-index: 0;
  }

  .card2::after {
    content: "";
    @apply absolute inset-0 opacity-0 transition;
    background: #fbc27be6; 
    filter: blur(6px);
    z-index: -1;
  }

  .card2:hover::after {
    @apply opacity-60;
  }
}

@layer utilities {

  .grid-auto-cards {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }

  .shadow-field {
    box-shadow: 0 0 8px rgba(211, 211, 211, 0.612);
  }

  .shadow-soft {
    box-shadow: 0 0 8px rgb(199, 199, 199);
  }

  .flip-wrapper {
    @apply relative w-[130px] h-[175px];
  }

  .flip-inner {
    @apply absolute inset-0 rounded-xl shadow transition-transform duration-700;
    transform-style: preserve-3d;
    will-change: transform;
  }

 
  .flip-inner.flipped {
    transform: rotateY(180deg);
  }

  .flip-front {
    @apply absolute inset-0 text-white rounded-xl overflow-hidden;
    backface-visibility: hidden;
  }

 
  .flip-back {
    @apply absolute inset-0 rounded-xl p-1 bg-white text-white flex flex-col gap-4 justify-between;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
}
